.MainBody{
    text-align: center;
}

.Introduction{
    /* padding: 5%; */
}

.profileimage{
    border-radius: 25%;
    height: auto;
    width: 100%;
    position: relative;
    max-width: 100%;
}

.background-column {
    height: auto;
    width: 50px;
    position: relative;
    max-width: 50%;
}

.profilespeaking-column{
    height: auto;
    width: 50px;
    position: relative;
    max-width: 50%;
}

.spacingforbutton{
    margin: 5%;
}

.buttonsize {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid red;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.Contactform{
    text-align: center;
}

.footericon{
    justify-content: center !important;
    padding-top: 10px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
}

.socialicon-list{
    display: inline-block !important;
    padding-left: 15px;
    height: 60px;
 }

 .TitleImage{
    fontFamily: 'georgia';
    textAlign: 'center';
    fontSize: '40px';
 }

 .DescriptionImage{
    fontFamily: 'georgia';
    textAlign: 'left';
    fontSize: '20px';
 }
